{% load static %}

<nav class="navbar sticky-top bg-white shadow-sm">
    <div class="container">
        <div>
            <a class="navbar-brand text-primary" href="{% url 'index' %}">Girişimcilik Sözlüğü</a>
            <a href = '{% url 'about' %}' class="btn btn-lg btn-sm p-1 px-3 mx-1 text-white bg-primary">Hakkımızda</a>
            <a href = '{% url 'taboo_request' %}' class="btn btn-lg btn-sm p-1 px-3 mx-1 text-white bg-primary">Girişimcilik Tabusu</a>
        </div>
        
        <span class="navbar-text d-none d-lg-block fs-6">
            Girişimcilik Sözlüğümüze Terim Ekleyerek Ekosisteme Destek Ol!
            <a href="{% url 'contribute' %}"
             class="btn btn-primary btn-lg btn-sm mx-2" style="color: #fff;">Katkı Sağla</a>
        </span>
    </div>
</nav>
