{% load static %}

<nav class="navbar sticky-top bg-white shadow-sm">
    <div class="container text-center">
        <a class="navbar-brand" style="color: #ff6464;" href="{% url 'index' %}">Girişimcilik Sözlüğü</a>

        <span class="navbar-text d-none d-lg-block fs-6">
            Girişimcilik Sözlüğümüze Terim Ekleyerek Ekosisteme Destek Ol!
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuBvHwRa68IAqALYFeDlIL4TXOBPP0RmXwJUVuS-t7vXNDzw/viewform" target="_blank" 
            rel="noreferrer noopener" class="btn btn-danger btn-lg btn-sm mx-2" style="color: #fff;">Katkı Sağla</a>
        </span>

        <div class ="d-flex ">

            <a href = 'https://www.diici.com' target="_blank" rel="noreferrer noopener" class="btn btn-lg btn-sm p-1 px-3 mx-1 text-white" style="background-color: #ff6464;">diici</a>
            <a href = 'https://www.teinn.org' target="_blank" rel="noreferrer noopener" class="btn btn-lg btn-sm p-1 px-3 mx-1" style="background-color: #ffaa00;">TEINN</a>
    
        </div>

    </div>
</nav>
