{% extends 'base.html' %} 

{% block title %} 
    Tabu Talep Formu 
{% endblock title%} 

{% block content %}

<div class="px-4 pt-3 pb-3 my-5 text-center">
    <h1 class="display-6 fw-bold">Girişimcilik Tabusu</h1>
    <div class="col-lg-6 mx-auto">
      <p class="text-secondary fs-6 mb-4">Girişimcilik Tabusu, girişimcilik terimleri ve kavramlarını öğretmek amacıyla tasarlanmış bir ekip oyunudur. Oyuncular, belirli kavramları kullanmadan terimleri takım arkadaşlarına anlatmaya çalışırken eğlenirler ve girişimcilik dünyasına dair bilgi sahibi olurlar. <br /> <br> <b>Girişimcilik Sözlüğü</b> terimlerini kullanarak <b>Girişimcilik Tabusunu</b> geliştiriyoruz! </p>
    </div>
</div>

<div class="container text-center">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSfzhiG7aRFP0rc165ol3-Qppq5Q8PdfQilFwMdKO9MPf_C7Vg/viewform?embedded=true"
    width="640"
    height="1124"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Yükleniyor…</iframe
  >
</div>

{% endblock content %}
