{% load static %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} | Girişimcilik Sözlüğü</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
        {% block css_files %}{% endblock css_files %}

</head>

<body>
    
    <div class="fill pb-1">

        {% include 'partials/_header.html' %}

        {% block content %}

        {% endblock %}

        {% include 'partials/_to_top.html' %}
        
    </div>

    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
   
    {% block js_files %} {% endblock js_files %}

</body>

</html>